/* CANVAS */

// CANVAS GRID PAGE
.tile
	align-items: stretch
	display: block
	flex-basis: 0
	flex-grow: 1
	flex-shrink: 1
	min-height: min-content

.tile.is-child
	margin: 0 !important

.tile.is-vertical
	flex-direction: column

.tile.is-ancestor
	margin-left: -0.75rem
	margin-right: -0.75rem
	margin-top: -0.75rem

.tile.is-ancestor:last-child
	margin-bottom: -0.75rem

.tile.is-ancestor:not(:last-child)
	margin-bottom: 0.75rem

.tile.is-child
	margin: 0 !important

.tile.is-vertical
	flex-direction: column

.tile.is-vertical > .tile.is-child:not(:last-child)
	margin-bottom: 1.5rem !important

@media (min-width: 769px)
	.tile:not(.is-child)
		display: flex
	.tile.is-1
		flex: none
		width: 8.3333333333%
	.tile.is-2
		flex: none
		width: 16.6666666667%
	.tile.is-fifth
		flex: none
		width: 20%
	.tile.is-two-fifths
		flex: none
		width: 40%
	.tile.is-two-thirds
		flex: none
		width: 60%
	.tile.is-3
		flex: none
		width: 25%
	.tile.is-4
		flex: none
		width: 33.3333333333%
	.tile.is-5
		flex: none
		width: 41.6666666667%
	.tile.is-6
		flex: none
		width: 50%
	.tile.is-7
		flex: none
		width: 58.3333333333%
	.tile.is-8
		flex: none
		width: 66.6666666667%
	.tile.is-9
		flex: none
		width: 75%
	.tile.is-10
		flex: none
		width: 83.3333333333%
	.tile.is-11
		flex: none
		width: 91.6666666667%
	.tile.is-12
		flex: none
		width: 100%


.canvas-wrap
	height: auto
	// Let's get this party started
	&::-webkit-scrollbar
		height: 5px
		width: 5px
	// Track
	&::-webkit-scrollbar-track
		background: rgba(41, 36, 78, 0.15)
		border-radius: 5px
	// Handle
	&::-webkit-scrollbar-thumb
		background: rgba(41, 36, 78, 0.4)
		border-radius: 5px
	&::-webkit-scrollbar-thumb:window-inactive
		background: rgba(41, 36, 78, 0.25)
	@media (min-width: 800px)
		overflow-y: scroll
		overflow-x: hidden
		height: 700px

.canvas-wrap.scaling-canvas
	height: auto
	@media (min-width: 800px)
		overflow-y: inherit
		overflow-x: hidden
		height: auto

.wrap.canvas-wrap
	max-width: inherit
	margin: 0 auto
	width: 90%

.canvas-grid-v2.full-width
	width: 100%
	max-width: inherit

.canvas-grid-v2
	display: inline-block
	// max-width: 812px
	max-width: inherit
	width: 80%
	.cell-content
		height: 100%
		width: 100%
	.cell-content:hover .right-top
		opacity: 1
		visibility: visible
	.right-top
		position: absolute
		right: 9px
		top: 10px
		opacity: 0
		visibility: hidden
	.top
		color: $c-canvas-gray
		padding: 10px 10px 30px 10px
		width: 75%
		> p
			display: inline
	.comments
		color: $dark-purple-opacity
		position: absolute
		right: 10px
		top: 4px
		font-size: 10px
	.comments:before
		content: url('../img/icon-small-chat.png')
		position: absolute
		left: -14px
		top: 2px
	.listed-hypothesis
		display: inline-block
		font-size: 14px
		font-weight: bold
		line-height: 20px
		position: relative
		padding-left: 10px
		margin-bottom: 1.2em
		width: 100%
	.listed-hypothesis.active
		color: $c-dark-purple
	.listed-hypothesis.inactive
		opacity: 0.7
	.color-tags
		width: 99%
		margin-bottom: 6px
		float: left
		> div
			height: 5px
			float: left
			max-width: 17px
			margin-right: 1px
			width: 12%
	.txt
		float: left
		position: relative
		padding-right: 20px
	.txt p
		display: inline
	.validated
		display: inline
	.validated u
		text-decoration: none
		border-bottom: 2px solid $c-green
	.invalidated
		display: inline
	.invalidated strike
		text-decoration: none
		position: relative
		background-image:     -ms-linear-gradient(transparent 7px, $c-red 7px, $c-red 9px,transparent 9px)
		background-position: center
		background-image: -webkit-linear-gradient(transparent 7px, $c-red 7px, $c-red 9px,transparent 9px)
		background-image:    -moz-linear-gradient(transparent 7px, $c-red 7px, $c-red 9px,transparent 9px)
		background-image:      -o-linear-gradient(transparent 7px, $c-red 7px, $c-red 9px,transparent 9px)
		background-image:         linear-gradient(transparent 7px, $c-red 7px, $c-red 9px,transparent 9px)
		background-position-y: 3px
	.normal-sans-serif
		display: inline
	.listed-hypothesis .txt:hover .edit-hypothesis
		opacity: 1
		visibility: visible
	.number
		cursor: default
		position: relative
		display: inline-block
		margin-right: 2px
		font-size: 9px
		text-align: center
		top: 4px
		font-weight: bolder
		color: $c-white
		+border-radius(20px)
		height: 18px
		width: 18px
	.category
		cursor: default
		position: relative
		display: inline-block
		margin-right: 2px
		font-size: 9px
		text-align: center
		top: 4px
		font-weight: bolder
		color: $c-dark-purple
		+border-radius(20px)
		background: $c-input-gray
		height: 18px
		width: 18px
	.category > p,
	.number > p
		position: absolute
		left: 0
		right: 0
		top: 0
		margin: 0 auto
	.category:hover .category-tooltip
		opacity: 1
		visibility: visible
	.category-tooltip.x2
		min-width: 180px
		text-align: left
		padding: 5px 17px
		top: 27px
		left: -141px
	.category-tooltip.x2:before
		top: -3px
		right: 27px
		left: auto
	.category-tooltip
		opacity: 0
		visibility: hidden
		top: -31px
		position: absolute
		color: $c-white
		padding: 4px 9px
		font-size: 10px
		line-height: 14px
		left: -11px
		min-width: 40px
		text-align: center
		font-weight: bolder
		z-index: 4
		background: $c-soft-orange
		+transition(all 0.3s ease)
		+border-radius(30px)
	.category-tooltip > p
		white-space: nowrap
	.category-tooltip:before
		content: " "
		position: absolute
		bottom: -3px
		left: 17px
		+transform(rotate(130deg))
		width: 5px
		z-index: 1
		height: 5px
		background: $c-soft-orange
	.edit-hypothesis
		opacity: 0
		visibility: hidden
		position: absolute
		top: -4px
		right: -78px
		background: $c-input-gray
		padding: 5px 14px
		z-index: 10
		+transition(all 0.3s ease)
		+border-radius(30px)
		.icon
			cursor: pointer
			float: left
			padding-right: 13px
		.icon:last-child
			padding-right: 0
		.icon img
			height: 12px
			top: 1px
			position: relative
	.edit-hypothesis:before
		content: " "
		position: absolute
		top: 11px
		left: -2px
		+transform(rotate(130deg))
		width: 10px
		z-index: 0
		min-height: 10px
		background: $c-input-gray
	@media (max-width: 800px)
		width: 100%
	@media (max-width: 769px)
		margin-bottom: 40px
		width: 100%
		.tile
			width: 100%
			display: inline-block

.border-cell
	border: 1px solid $c-light-gray

.border-cell-no-top
	border: 1px solid $c-light-gray
	border-top: none

.border-cell-no-bottom
	border: 1px solid $c-light-gray
	border-bottom: none

.border-cell-middle
	border: 1px solid $c-light-gray
	border-bottom: none
	border-top: none

.border-cell-blue
	border: 2px solid $c-cornflower

.vh82
	position: relative
	min-height: 82px
	@media (max-width: 769px)
		min-height: auto

.vh134
	position: relative
	min-height: 134px
	@media (max-width: 769px)
		min-height: auto

.vh405
	position: relative
	min-height: 405px
	@media (max-width: 769px)
		min-height: auto

.vh176
	position: relative
	min-height: 176px
	@media (max-width: 769px)
		min-height: auto

.vh175
	position: relative
	min-height: 175px
	@media (max-width: 769px)
		min-height: auto

.vh268
	position: relative
	min-height: 269.5px
	@media (max-width: 769px)
		min-height: auto

.vh248
	position: relative
	min-height: 248px
	@media (max-width: 769px)
		min-height: auto

.vh350
	position: relative
	min-height: 350px
	@media (max-width: 769px)
		min-height: auto

.vh190
	position: relative
	min-height: 190px
	@media (max-width: 769px)
		min-height: auto

.cell-one-whole
	width: 100%

.cell-one-fourth
	width: 25%

.cell-one-third
	width: 33%

.cell-one-sixth
	width: 16.5%

.canvas-grid-v2.canvas-full
	width: 100%!important


// CANVAS ASSISTANT STATUS
.trigger-assistant-status
	width: 9%
	padding-left: 20px
	vertical-align: top
	+transition(opacity ease 0.3s)
	button
		display: block
	@media (min-width: 1224px)
		display: none
	@media (max-width: 1223px)
		display: inline-block
	@media (max-width: $tablet_b)
		display: none

.trigger-assistant-status.hide
	opacity: 0
	display: none
	overflow: hidden
	visibility: hidden

.trigger-assistant-status.canvas-progress
	.help-icon
		border: none!important
		color: $c-white!important
		vertical-align: middle
		height: 18px
		width: 18px


.canvas-progress-assistant
	display: inline-block
	vertical-align: top
	margin-bottom: 2.5em
	position: relative
	max-width: 260px
	.to-do
		color: $c-dark-purple
		position: relative
		padding-left: 54px
		font-size: 14px
		padding-bottom: 15px
		padding-top: 15px
		border-bottom: 2px solid $c-input-gray
	.to-do:last-child
		border-bottom: none
	.to-do:before
		content: ''
		position: absolute
		background: $c-light-purple
		left: 16px
		top: 16px
		+border-radius(22px)
		height: 22px
		width: 22px
	.to-do.active:before
		content: ''
		+box-shadow(0 0px 8px 0px rgba(17, 194, 11, 0.5))
		background: $c-green
		left: 20px
		top: 20px
		height: 1em
		width: 1em
	.top
		margin-bottom: 1.5em
		button, .title
			display: inline-block
		.title
			padding-left: 10px
		.small-yellow-rounded-btn
			margin-right: 10px
	.up-next
		background: $c-highlight-yellow
	@media (max-width: 400px)
		max-width: 100%
	@media (min-width: $tablet_b)
		// display: none
		// position: absolute
		// opacity: 0
		// right: -200px
		width: 19%
		padding-left: 2%
		// visibility: hidden
		// overflow: hidden
		.top
			margin-bottom: 0
		.to-do
			padding-left: 30px
		.to-do:before
			left: 4px
		.to-do.active:before
			left: 8px
	@media (min-width: 950px)
		.to-do
			padding-left: 54px
		.to-do:before, .to-do.active:before
			left: 20px
	@media (min-width: 1224px)
		opacity: 1
		position: relative
		display: inline-block
		visibility: visible
		right: inherit
		overflow: auto
		max-width: 257px
		width: 19%
		.top
			margin-bottom: 1.5em
		.to-do
			font-size: 16px

.canvas-progress-assistant.canvas-progress
	.to-do
		border-bottom: none
		font-weight: bolder
		padding-left: 40px
	.to-do:before
		background: $c-white
		border: 2px solid $c-green
		height: 16px
		width: 16px
		left: 0
	.to-do.active:before
		+box-shadow(none)
		background: $c-green
		height: 16px
		width: 16px
	.to-do:after
		content: ''
		background: $c-green
		position: absolute
		height: 100%
		width: 2px
		left: 9px
		top: 28px
		z-index: -1
	.to-do:last-child:after
		content: none
	.help-icon
		border: none!important
		color: $c-white!important
		vertical-align: middle
		height: 18px
		width: 18px
	@media (max-width: 950px)
		.to-do:before
			left: 3px
		.to-do:after
			left: 12px
		.top .small-yellow-rounded-btn
			display: inline-block


@media (min-width: $tablet_b)
	.canvas-grid-v2.show
		width: 74%
	.canvas-progress-assistant.show
		right: 0
		opacity: 1
		position: absolute
		display: inline-block!important
		visibility: visible
		overflow: auto


// SMALL CANVAS
.small-canvas-grid.x2
	width: 171px
.small-canvas-grid
	display: block
	margin: 0 auto
	width: 160px
	overflow: hidden
	.half-col
		width: 83px
		margin-right: 2px
		p
			top: 5px
	.one-col
		p
			top: 5px
	.col
		cursor: pointer
		background: $c-input-gray
		+border-radius(5px)
		float: left
		height: 29px
		margin-bottom: 2px
		vertical-align: top
	.col.active
		background: $c-cyan
		p
			color: $c-white
	.col-small
		width: 32px
		height: 21px
		p
			top: 0
	.col-x1
		width: 32px
		margin-right: 2px
	.col-x2
		float: left
		margin-right: 2px
		height: 60px
		vertical-align: top
		width: 32px
		p
			top: 23px
	.col-x3
		margin-right: 2px
		width: 136px
	.col-x1, .col-vertical
		p
			top: 5px
	.col-vertical
		margin-right: 2px
		width: 66px
	.col-vertical-x1
		margin-right: 2px
		width: 32px
	.col-x4
		float: left
		width: 32px
		height: 115px
		margin-left: 2px
		> p
			top: 50px
	p
		color: $dark-purple-opacity
		font-size: 14px
		text-align: center
		display: block
		font-weight: bold
		position: relative
